.x-wrap {
	width: 100vw;
	overflow-x: hidden;
	position: relative;
	display: inline-block;
	touch-action:none;
}
.x-inner {
	display: grid;
	width: $postWidth * 15;
	grid-template-columns: repeat(30, $postWidth);
}

.site-content {
	padding: $margin;
	margin-top: 3rem;
	display: flex;
	width: 400vw;
}

.letters-col {
	height: calc(#{$postHeight} * 5 + #{$margin} * 4);
	display: inline-block;
	width: $postWidth;
	margin-right: $margin;
	overflow-y: hidden;
	position: relative;
	touch-action:none;
}
.letter {
	border-bottom: $margin solid white;
	font-family: sans-serif;
	background: yellow;
	border: 1px solid white;
	overflow: hidden;
	height: $postHeight;
	display: block;
	vertical-align: top;
	img {
		width: 100%;
		display: block;
	}
}
.expanded {
	$pw2 : $postWidth * 2;
	$pw3 : $postWidth * 3;
	$pw4 : $postWidth * 4;
	$ph2 : $postHeight * 2;
	$ph3 : $postHeight * 3;
	$m2: $margin * 2;
	$m3: $margin * 3;
	$m4: $margin * 4;
	background: $lightgray;
	text-align: center;
	border: 1px solid white;
	overflow: hidden;
	width: calc(#{$pw2} + #{$m2});
	height: calc(#{$ph2} - #{$margin});
	position: fixed;
	left: 0;
	border-left: $margin solid white;
	top: calc(#{$headerHeight} + #{$margin});
&:nth-of-type(3){
	left: calc(#{$pw2} + #{$m2})
};
&:nth-of-type(4){
		left: calc(#{$pw4} + #{$m3});
}

img {
	display: block;
	width: 100%;
}
}