{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
<header class="site-header">

    {% block header %}
        <nav id="nav-main" class="site-nav" role="navigation">
            {% include "menu.twig" with {
                'menu' : menu.get_items
            } %}
        </nav>
        <!-- #nav -->
    {% endblock %}
</header>
<main class="site-content">
    {% block content %}
        Sorry, no content
    {% endblock %}
</main>
{% block footer %}
    <footer class="site-footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>