{% extends "base.twig" %}

{% block content %}
    <div class="x-wrap">
        {% for col in 1..10 %}
		<ul class="letters">
            {% for letter in letters %}
                <li class="letter">
                    <img class='letter-image' src='{{TimberImage(letter.letter_image | resize(500))}}'/>
                </li>
            {% endfor %}
        </ul>
		{% endfor %}
    </div>
{% endblock %}